---
layout: page
ref: index
lang: EN
---

<div>
    <!--<h3>Welcome to <b>Cheese in the City</b>, a website about making cheese in a small appartment!</h3>-->
    <p>This blog aims at sharing experience on <a href='basics'>cheese</a> making at home. I will try not to use
        industrial cultures but rather use homegrown starter cultures that are more diverse and natural.
        What sorts of cheese is it possible to make when living in an apartment? How to find good milk? How to rippen cheese in fridge?
        This blog is an ongoing work, aiming to answer all those sorts of questions with a scientific touch.</p>
    <p>
        Discover my cheeses on <a href='gallery'>this page</a>.
    </p>
</div>

{% include instagram.html clientId="843e21863661443b9d1d4cc54c52c904" userId="15372173081" accessToken="15372173081.843e218.248fd251f90d42a6951d22156d897ed7" %}
<!--https://instagram.com/oauth/authorize/?client_id=843e21863661443b9d1d4cc54c52c904&redirect_uri=https://www.cheese-in-the-city.com&response_type=token-->
<br/>

{% include posts-list-limit.html %}