{% if include.type == "post" %}
    {% assign lang=include.lang %}
{% else %}
    {% assign lang=page.lang %}
{% endif %}

<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      {% if site.title-img %}
        {% if lang=='EN'%}
            <a class="navbar-brand navbar-brand-logo" href="{{ site.url }}"><img src="{{ site.title-img }}"/></a>
        {% else %}
            <a class="navbar-brand navbar-brand-logo" href="{{ site.url }}/fr"><img src="{{ site.title-img }}"/></a>
        {% endif %}
      {% else %}
        <a class="navbar-brand" href="{{ site.url }}">{{ site.title }}</a>
      {% endif %}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
      {% for link in site.navbar-links[lang] %}
        {% if link[1].first %}
          <li class="navlinks-container">
            <a class="navlinks-parent" href="javascript:void(0)">{{ link[0] }}</a>
            <div class="navlinks-children">
              {% for childlink in link[1] %}
                {% for linkparts in childlink %}
                  {% include navbarlink.html link=linkparts %}
                {% endfor %}
              {% endfor %}
            </div>
          </li>
        {% else %}
          <li>
            {% include navbarlink.html link=link %}
          </li>
        {% endif %}
        {% endfor %}
       
        {% if include.type == "post" %}
            {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
            {% for post in posts %}
                <li>
                    <a href="{{ post.url }}" class="{{ post.lang }} lang-button ">{{ post.lang }}</a>
                </li>
            {% endfor %}
        {% else %}
        {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
            {% for page in pages %}
              <li>
                <a href="{{ page.url }}" class="{{ page.lang }} lang-button">{{ page.lang }}</a>
              </li>
            {% endfor %} 
        {% endif %}
      </ul>

       
    </div>
  </div>
</nav>
